*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

button {
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 58%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 56%;
  }
}
@media only screen and (max-width: 1800px) {
  html {
    font-size: 65%;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 85%;
  }
}

body {
  box-sizing: border-box;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100vw;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 3rem;
  text-align: center;
}

p {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  max-width: 80rem;
}

.greeting p { 
  font-weight: 700;
  font-style: italic;
}

.header {
  position: fixed;
  width: 100vw;
  z-index: 1000;
  background: #fff;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem
}

.header-logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;  
  transition: color 0.3s;
}

.header-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.header-logo {
  border-radius: 50px;
  overflow: hidden;
  margin-right: 1.3rem;
  width: 5rem;
  height: 5rem;
}

.header-name {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header-links {
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .header-links {
    display: none;
  }
}

li {
  display: inherit;
}

.header-link {
  padding: 2.2rem 3rem;
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color 0.3s;
}

@media only screen and (max-width: 56.25em) {
  .header-link {
    padding: 3rem 1.8rem;
    font-size: 1.5rem;
  }
}

.header-main-ham-menu-cont {
  display: none;
  width: 3rem;
  padding: 2.2rem 0;
}

@media only screen and (max-width: 37.5em) {
  .header-main-ham-menu-cont {
    display: block;
  }
}

.header-main-ham-menu {
  width: 100%;
}

.header-main-ham-menu-close {
  width: 100%;
}

.header-sm-menu {
  background: #fff;
  position: absolute;
  width: 100%;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.header-sm-menu--active {
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 37.5em) {
  .header-sm-menu--active {
    visibility: visible;
    opacity: 1;
  }
}

.header-sm-menu-link a {
  display: block;
  text-decoration: none;
  padding: 2.5rem 3rem;
  font-size: 1.6rem;
  text-align: right;
  border-bottom: 1px solid #eee;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.3s;
}

.header-sm-menu-link:first-child a {
  border-top: 1px solid #eee;
}

.header-sm-menu-link-last {
  border-bottom: 0;
}

.header-sm-menu-link a:hover {
  color: #0062b9;
}

.d-none {
  display: none;
}

.flex-content {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-position: center;
}

.introduction img {
  width: 100vw;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0; 
  width: 100vw;
  color: black;
  font-size: 25px;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 37.5em) {
  .h3 {
    font-size: 2.4rem;
  }
}

.about-details {
  flex-direction: row;
  display: flex;
  width: 80vw;
  padding: 10px 10px 10px 10px;
  max-width: 120rem;
  margin: auto;
}

@media only screen and (max-width: 56.25em) {
  .about-details, .projects-details {
    flex-direction: column;
    align-items: center;    
  }
  .introduction img {
    height: 80vh;   
  }
}

@media only screen and (max-width: 37.5em) {
  .text, .greeting {
    font-size: 2.4rem;
    text-align: center;
  }
  .introduction img {
    height: 55vh;   
  }
  .greeting { 
    height: 70%;
    font-size: 1.4rem;
  }
}


.about,
.projects .contact {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  color: #777;
}

.projects-details {
  display: flex;
  padding: 10px 10vw;
}

.projects-detail {
  flex-basis: 40%;
}

.memory-game-details {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.get-to-know-me,
.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 30px;
}

.skill {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #777;
}

.memory-game-link {
  padding: 1rem 2rem;
  margin-bottom: 3rem;
  font-size: 1.6rem;
  background: tomato;
  font-weight: 700;
}

.cv a {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  border-radius: 5px;
  font-weight: 800;
  color: tomato;
  background-color: lightgoldenrodyellow;
}

.cv {
  padding: 2rem 2rem;
}

.memory,
.language, .flag {
  width: 90%;
  margin-top: 10px;
}

.language, .flag {
  margin-top: 90px;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 1rem;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background-color: rgb(61, 61, 227);
  color: white;
}

.fa-envelope {
  background-color: orange;
  color: white;
}

footer {
  text-align: center;
  padding: 2px;
  background-color: lightgrey;
}